.download-section {
  width: 100%;
  padding: 80px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.download-left h1 {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
}

.download-left span {
  color: #2a73ff;
}

.download-left p {
  margin: 15px 0;
  color: #666;
}

.download-btn {
  background: #e9f1ff;
  color: #2a73ff;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.stores img {
  width: 150px;
  margin-right: 10px;
}

.download-right {
  position: relative;
}

.phone {
  width: 330px;
  z-index: 2;
}

.car {
  width: 300px;
  position: absolute;
  top: 120px;
  left: 30px;
  z-index: 1;
}
