.footer {
  background: #05203c;
  padding: 70px 100px 20px;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* كل عمود */
.footer-col {
  flex: 1;
  min-width: 180px;
  margin-bottom: 20px;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col p {
  margin: 6px 0;
  opacity: 0.8;
  cursor: pointer;
}

.footer-col p:hover {
  opacity: 1;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

/* عناصر تحتوي على أيقونة + نص */
.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

/* تحويل صور الأيقونات كلها للون الأبيض */
.footer-item img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

/* أيقونات السوشيال */
.socials i {
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff; /* لون أبيض */
}

.socials i:hover {
  opacity: 0.7;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #19324e;
  opacity: 0.8;
}
